:root {
--color00: #0a0a0c;
--color01: #0a0a0c;
--color02: #0a0a0c;
--color03: #b2b5b3;
--color04: #e7e7e7;
--color05: #b2b5b3;
--color06: #e7e7e7;
--color07: #e7e7e7;
--color08: #f7768e;
--color09: #e0af68;
--color0A: #e0af68;
--color0B: #9ece6a;
--color0C: #4abaaf;
--color0D: #7aa2f7;
--color0E: #bb9af7;
--color0F: #f7768e;
}
